
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Organizational Needs</h1>

      <form>
          <br>
          <h2>Professionals
          <div class="form-group">
              <label for="doctor">Doctor</label>
              <input type="text" class="form-control" id="doctor" placeholder="How Many Doctors?">
          </div>
          <div class="form-group">
              <label for="nurse">Nurses</label>
              <input type="text" class="form-control" id="nurse" placeholder="How Many Nurses?">
          </div>
          <div class="form-group">
              <label for="construction">Construction</label>
              <input type="text" class="form-control" id="construction" placeholder="How Many Construction Workers?">
          </div>
          <div class="form-group">
              <label for="construction">Social Workers</label>
              <input type="text" class="form-control" id="social_worker" placeholder="How Many Social Workers?">
          </div>
          <br>
          <h2>Other Skills</h2>
          <div class="form-group">
              <label for="data_management">Data Management</label>
              <input type="text" class="form-control" id="data_management" placeholder="How Many Data Managers">
          </div>
          <div class="form-group">
              <label for="translators">Translators</label>
              <input type="text" class="form-control" id="translators" placeholder="How Many Translators">
          </div>
          <h2>
          <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</div>